
*{
	margin: 0;
	padding: 0;
	border: none;
}
a{
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	display: block;
	content: "";
	clear: both;
}
body{
	font-size: 12px;
	padding: 20px;
	color: #333;
}
#list{
	width: 540px;
	margin: 0 auto;
	text-align: left;
}
.box{
	border-top: #eee solid 1px;	
	padding: 20px 0;
	position: relative;
}
.close{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #eee;
	color: #333;
	width: 28px;
	height: 28px;
	border: #ccc solid 1px;
	text-align: center;
	line-height: 27px;
	display: none;
}
.box:hover .close { 
	display: block;
}
.close:hover { 
	background: #c8d2e2; 	
}
.head{	
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
.content{
	width: 440px;
}
.main,.txt,.info,.praises-total{
	margin-bottom: 10px;
}
.user{
	color: #369;
}
.user:hover,.head:hover,.pic:hover{
	cursor: pointer;
}
.pic{
	width: 200px;
	border: #eee solid 1px;
}
.info,.praises-total{
	height: 20px;
}
.time{
	color: #ccc;
	background: url(../images/bg1.jpg) left center no-repeat;
	padding-left: 20px;
}
.praise{
	color: #369;
	background: url(../images/bg2.jpg) left center no-repeat;
	padding-left: 20px;
}
.praise:hover { 
	text-decoration: underline; 
	background: url(../images/bg3.jpg) no-repeat left top;
}
.praises-total{
	background: url(../images/praise.png) left center no-repeat rgb(247,247,247);
	padding: 5px 0;
	padding-left: 20px;
	line-height: 20px;
}
.comment-box{
	border-top: #eee solid 1px;
	padding: 10px 0;
}
.myhead{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.comment-content{
	width: 400px;
}
.comment-time{
	color: #ccc;
	position: relative;
	margin-top: 5px;
}
.comment-praise,.comment-operate{
	position: absolute;
	color: #369;
	bottom: 0px;
}
.comment-praise{
	right: 44px;
	background: url(../images/praise.png) left center no-repeat;
	padding-left: 20px;
	display: none;
}
.comment-operate{
	right: 10px;
	display: none;
}
.comment-content:hover .comment-praise,.comment-content:hover .comment-operate{
	display: inline-block;
}
.comment{
	color: #ccc;
	border: #eee solid 1px;
	padding: 5px;
	resize: none;
	width: 428px;
	height: 15px;
}
.text-box .btn { 
	font-size: 12px; 
	font-weight: bold;
	display: none; 
	float: right; 
	width: 65px; 
	height: 25px;
	border: 1px solid #0C528D; 
	color: #fff; 
	background: #4679AC;
}
.text-box .btn-off { 
	border: 1px solid #ccc; 
	color: #ccc; 
	background: #F7F7F7;
}
.word{
	color: #666;
	padding: 7px 10px 0 0;
	display: none;
}
.text-box-on .comment{ 
	height: 50px; 
	color: #333;
}
.text-box-on .btn{ 
	display: inline;
}
.text-box-on .word{ 
	display: inline;
}